.body {
  margin: 20px 80px;
  background-color: #F5F5F1;

  header {
    width: 100%;
    background-color: #FFFFFF;

    .head1 {}
    .head2 {
      span {}
    }
  }
  .bottomHalf {
    width: 100%;
    body {
      hr {}
      .bodyL{
        width: 25%;
        float: left;
        .top{
          .asideTitle {}
        }
        .bottom {
          div {}
          .narrowSearch{
            div {}
            hr {}
          }
        }
      }
      .bodyR {
        width: 75%;
        float: left;
        #itemTemplate {
          .itemBox {
            img {}
            .itemInfo {
              .itemTitle {}
              .itemShop {}
              .itemPrice {}
            }
          }
        }
      }
    }
  }
}




































































// header {


//   .head1 {

//   }

//   .head2 {

//   }

// }


// .bottomHalf {

//   body {

//     .bodyL {
//       width: 25%;
//       float: left;

//       .top {
//         border: 1px solid red;


//         .asideTitle {

//         }
//         ul {
//           li {
//             a { 

//             }
//           }
//         }
//       }
//       .bottom {
//         border: 1px solid red;

//       }
//     }


//     .bodyR {
//       width: 75%;
//       float: left;
//     }
// }
// }
