.body {
  // margin: 20px 80px;
  a {
    text-decoration: none;
  }

  header {
    // width: 100%;
    background-color: #FFFFFF;
    margin: 20px 80px;
    hr {
      // margin: -80px;
    }

    .head1 {
      // border-bottom: 1px solid red;
    }
    .head2 {
      // text-align: center;
      // border-bottom: 1px solid red;
      font-size: 14px;
      color: #696969;
      padding: 5px 0;

      span {
        a {
          padding-right: 20px;
          color: #707070;
          // color: #0093B8;
        }
      }
    }
  }
  .bottomHalf {
    width: 100%;
    background-color: #F5F5F1;
    padding: 20px 80px;

    body {
      hr {}
      .bodyL{
        width: 25%;
        float: left;
        .top{
          .asideTitle {}
          ul {
            li {
              a {
                color: #0093B8;
              }
              
            }
          }
        }
        .bottom {
          div {}
          .narrowSearch{
            div {}
            hr {}
          }
        }
      }
      .bodyR {
        width: 75%;
        float: left;
        #itemTemplate {
          .itemBox {
            img {
              height: 30px;
              width: 30px;
            }
            .itemInfo {
              width: 100px;


              .itemTitle {
                overflow: hidden;
              }
              .itemShop {}
              .itemPrice {}
            }
          }
        }
      }
    }
  }
}




































































// header {


//   .head1 {

//   }

//   .head2 {

//   }

// }


// .bottomHalf {

//   body {

//     .bodyL {
//       width: 25%;
//       float: left;

//       .top {
//         border: 1px solid red;


//         .asideTitle {

//         }
//         ul {
//           li {
//             a { 

//             }
//           }
//         }
//       }
//       .bottom {
//         border: 1px solid red;

//       }
//     }


//     .bodyR {
//       width: 75%;
//       float: left;
//     }
// }
// }
